@import './base.css';

#app {
    margin: 0 auto;
    font-weight: normal;
    background-color: lightcyan;
    color: black;
    /* color: #666666; */
}

a,
.black {
    /* color: #666666; */
    color: black;
    transition: 0.4s;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
}